HakatonRecommendationSystem/catalog/__pycache__/
HakatonRecommendationSystem/catalog/migrations/
HakatonRecommendationSystem/.idea/
HakatonRecommendationSystem/HakatonRecommendationSystem/__pycache__/
